.btn {
  background-color: #2e2c2f;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 15rem;
  margin-top: 2.4rem;
  margin-left: auto;
  font-size: 1.2rem;
}
