.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2.4rem;
}

.combobox {
  position: relative;
  width: 100%;
}

.visible-none {
  visibility: hidden;
}

.form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #232323;
  font-size: 1.2rem;
  height: 3.2rem;
  width: 100%;
}
.form label.focused {
  top: -10px;
  font-size: 12px;
  color: #fff;
}
.form label {
  color: #ccc;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
}
