.work {
  color: white;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
}
.subTitle {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  text-transform: uppercase;
}
.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.project {
  background-color: black;
  width: 300px;
  padding: 16px;
  background: linear-gradient(45deg, #5b5b5f, #110935);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 20%)); /* 2 columns with min and max width */
  grid-template-rows: repeat(auto-fill, minmax(min-content, 20%)); /* 2 rows with min and max height */
  grid-gap: 24px;
  justify-content: center;
  justify-items: center;
}

.image {
  border-radius: 10px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.projectTitle {
  font-size: 2rem;
  color: rgb(226, 206, 206);
  text-transform: uppercase;
}
.projectDescription {
  font-size: 1.4rem;
  font-weight: 500;
}
.tags {
  display: flex;
  gap: 10px;
}

.tag {
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
}
.tag:hover {
  scale: 1.1;
}
