section#showcase {
  height: 100vh;
  background-image: url('/full-bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
