.course {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 300px;
  border: 1px solid white;
  border-radius: 23px;
  padding: 2.4rem;
}

.course-title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: white;
}

.course-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 1rem;
}
