.singUp__form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 35vw;
  margin: 0 auto;
  margin-top: 22vh;
  background-color: #392467;
  border-radius: 0.6rem;
  padding: 2.4rem;
}
