.social-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.header__logo__content--content {
  grid-column: 1 / -1;
  align-self: center;
  margin-top: 5rem;
}

.header__logo__content--content__title {
  font-size: calc(4rem + 2vw);
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 0 2rem 0 var(--font-size-title);
}

.header__logo__content--content__para {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 12px var(--font-size-title);
}

.sign-up {
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  color: white;
  border: 1px solid rgb(233, 225, 225);
  outline: none;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.sign-up:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.sign-up:active {
  color: #000;
}

.sign-up:active:after {
  background: transparent;
}

.sign-up::before {
  opacity: 1;
}

.sign-up:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sign-in {
  font-size: 1.4rem;
}

.sign-in:hover {
  opacity: 0.5;
  transition: all ease 0.3s;
}

.header-item {
  color: white;
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
  text-align: center;
}

.header-item:link::before,
.header-item:visited::before,
.header-item:link::after,
.header-item:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: white;

  transform: scaleX(0);

  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

.header-item:link::before,
.header-item:visited::before {
  top: 0;
  transform-origin: left;
}

.header-item:link::after,
.header-item:visited::after {
  bottom: 0;
  transform-origin: right;
}

.header-item:hover::before,
.header-item:active::before,
.header-item:hover::after,
.header-item:active::after {
  transform: scaleX(1);
}

.title {
  color: white;
}
.description {
  color: white;
}

@media (max-width: 600px) {
  .header-item {
    font-size: 1.6rem;
    padding: 0.1rem 0.3rem;
  }

  .header-item:link::before,
  .header-item:visited::before,
  .header-item:link::after,
  .header-item:visited::after {
    height: 0.15rem;
  }

  .title {
    font-size: calc(1.2rem + 0.66667vw);
  }

  .description {
    font-size: calc(0.8rem + 0.66667vw);
    color: white;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: calc(1.4rem + 0.66667vw);
  }
  .description {
    font-size: calc(1rem + 0.66667vw);
  }
}
