.header__logo__content {
  display: grid;
  grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
  grid-template-rows: min-content;
  height: 90vh;
  justify-items: center;
}

.header__logo__content--logo {
  grid-column: 2 / 3;
  letter-spacing: 0.2rem;
}
.header__logo__content--logo span {
  color: var(--color-tertiary);
  font-size: 3rem;
}

.header__logo__content--content {
  grid-column: 1 / -1;
  align-self: center;
}

.header__logo__content--content__title {
  font-size: calc(4rem + 4vw);
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding: 0 2rem 0 var(--font-size-title);
}

.header__logo__content--content__para {
  font-size: calc(1rem + 2vw);
  font-weight: 500;
  padding: 2vh 2rem 6vh var(--font-size-title);
}
