section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: calc(1rem + 2vw);
}

.skills__design,
.skills__coding {
  padding: calc(1rem + 2vw);
  flex-basis: 40rem;
  flex-grow: 1;
}

.skills__design--title,
.skills__coding--title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: white;
}

.skills__design h4,
.skills__coding h4 {
  font-size: 2rem;
  color: white;
}

.skills__design--progress,
.skills__coding--progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: #3b1e54;
  width: 100%;
  margin-bottom: 2rem;
}

.skills__design--progress span,
.skills__coding--progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: #9b7ebd;
}

.skills__design--progress__1 {
  animation: design-1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-1 {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

.skills__design--progress__2 {
  animation: design-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skills__design--progress__3 {
  animation: design-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-3 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

.skills__design--progress__4 {
  animation: design-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design-4 {
  0% {
    width: 0;
  }

  100% {
    width: 65%;
  }
}

.skills__coding--progress__1 {
  animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-1 {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

.skills__coding--progress__2 {
  animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-2 {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

.skills__coding--progress__3 {
  animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-3 {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

.skills__coding--progress__4 {
  animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding-4 {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}
