.experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  /* height: 300px; */
  margin-bottom: 2rem;
  max-width: 40vw;
  width: 40vw;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* height: 100%; */
  width: 10px;
}
.experience-timeline_content {
  width: 100%;
}
.experience-timeline_point {
  margin: 0 auto;
  /* height: 18%; */
  color: white;
}
.experience-timeline_point i {
  font-size: 16px;
}
.experience-timeline_line {
  height: 100%;
  width: 3px;
  border-radius: 3px;
}

.heading {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: white;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-top: 5px;
}
.verticalTimeline {
  width: 70vw !important;
}

@media screen and (max-width: 610px) {
  .experience {
    max-width: 100vw;
    width: 100vw;
  }

  .experience span {
    font-size: 24px;
  }
}
