.experiences {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  height: 300px;
  margin-bottom: 2rem;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100%;
  width: 10px;
}
.experience-timeline_point {
  margin: 0 auto;
  height: 18%;
}
.experience-timeline_line {
  height: 100%;
  width: 3px;
}

.heading {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  text-transform: uppercase;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-top: 5px;
}
.verticalTimeline {
  width: 70vw !important;
}
