.experiences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 70vw;
  margin: 0 auto;
}

.experience {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  /* height: 300px; */
  margin-bottom: 2rem;
}

.experience-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* height: 100%; */
  width: 10px;
}
.experience-timeline_content {
  width: 100%;
}
.experience-timeline_point {
  margin: 0 auto;
  /* height: 18%; */
  color: white;
}
.experience-timeline_point i {
  font-size: 16px;
}
.experience-timeline_line {
  height: 100%;
  width: 3px;
  border-radius: 3px;
}

.heading {
  font-size: calc(1.5rem + 1vw);
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: white;
}

.title {
  font-size: calc(1.4rem + 1vw);
  font-weight: bold;
  margin: 0;
  margin-top: 5px;
}

.experience span {
  font-size: calc(1rem + 1vw);
}

.verticalTimeline {
  width: 70vw !important;
}

@media screen and (min-width: 960px) {
  .experience span {
    font-size: calc(1rem + 0.5vw);
  }
  .title {
    font-size: calc(1.2rem + 1vw);
  }
}
