/* components/HamburgerMenu.module.css */
.hamburgerMenu {
  position: relative;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #000;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
  }

  .menu.show {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin: 10px 0;
  }
}
