@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('css/all.css');

:root {
  font-size: 62.5%;
  font-family: 'Space Mono', monospace;
  background-color: #232228;
  transition: all ease 0.3s;
  /* Colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

  /* Transtion Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;

  --pointer-x: 50%;
  --pointer-y: 50%;
  --pointer-from-center: 0;
  --pointer-from-top: 0.5;
  --pointer-from-left: 0.5;
  --card-opacity: 0;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --background-x: 50%;
  --background-y: 50%;
  --grain: none;
  --icon: none;
  --behind-gradient: none;
  --inner-gradient: none;
  --sunpillar-1: hsl(2, 78%, 60%);
  --sunpillar-2: hsl(53, 81%, 48%);
  --sunpillar-3: hsl(93, 72%, 44%);
  --sunpillar-4: hsl(176, 85%, 36%);
  --sunpillar-5: hsl(228, 73%, 48%);
  --sunpillar-6: hsl(283, 85%, 63%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
  --card-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
  color: #232323;
}

aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  color: white;
  background-color: #1e1c23;
  min-width: 60px;
}

div.side-nav__content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.side-nav__content--logo img {
  object-fit: cover;
}

ul.side-nav__content--social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

ul.side-nav__content--social a i {
  /* 20px => 2rem => {1rem + [(10/1500) * 100]} => Dynamic Value */
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 0.6667vw);

  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav__content--social a i:hover,
ul.side-nav__content--social a i:active {
  color: var(--secondary-color);
}

header#header {
  /* background-color: var(--secondary-color); */
  height: calc(3vw + 3vh);
  z-index: 2;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Header shadow */
  border-radius: 8px; /* Optional: rounded corners */
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

nav#header__main-nav {
  height: 100%;
  width: 70vw;
  margin: 0 auto;
}

ul.header__main-nav--links {
  /* just for demonstration purposes */
  /* background-color: aqua; */
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.header__main-nav--links li {
  padding-right: 1vw;
}

ul.header__main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before,
ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: white;

  transform: scaleX(0);

  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header__main-nav--links li a:link::before,
ul.header__main-nav--links li a:visited::before {
  top: 0;
  /* Transform origin is center by default */
  transform-origin: left;
}

ul.header__main-nav--links li a:link::after,
ul.header__main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

ul.header__main-nav--links li a:hover::before,
ul.header__main-nav--links li a:active::before,
ul.header__main-nav--links li a:hover::after,
ul.header__main-nav--links li a:active::after {
  transform: scaleX(1);
}

@media screen and (max-width: 610px) {
  /*-*-*-*-**-*-*-*-**-*-*-*-**-*-*-*-* Main Nav Header *-*-*-*-**-*-*-*-**-*-*-*-**-*/
  header#header {
    position: absolute;
    box-shadow: none;
    background-color: transparent;
  }

  nav#header__main-nav.clicked {
    width: 48rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #26232d;
    text-align: center;
    z-index: 3;
  }

  .clicked {
    left: 38%;
  }

  .header__main-nav--hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  ul.header__main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  ul.header__main-nav--links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }

  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }

  .clicked .line-2 {
    opacity: 0;
  }

  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }

  ul.header__main-nav--links li {
    opacity: 0;
  }
  ul.header__main-nav--links li a {
    font-size: calc(1.2rem + 0.66667vw);
    text-align: center;
  }

  ul.header__main-nav--links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }

  ul.header__main-nav--links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }

  ul.header__main-nav--links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }

  ul.header__main-nav--links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }

  ul.header__main-nav--links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }

  ul.header__main-nav--links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }

  ul.header__main-nav--links li.fade {
    opacity: 1;
  }
}
