@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('css/all.css');

:root {
  color: #fff;
  font-size: 62.5% !important;
  font-family: 'Space Mono', monospace;
  /* Colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
  --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
  --color-secondary-m-dark: rgba(255, 196, 19, 0.85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
  --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);

  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);

  /* Transtion Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
